.heading--1 {
  font-weight: 300;
  font-size: 3rem;
}

.heading--2 {
  font-size: 4rem;
  font-weight: 600;
}

.heading--4 {
  font-size: 3rem;
  font-weight: 700;
}

.heading--5 {
  font-size: 2rem;
  font-weight: 700;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  grid-row: 6/7;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__social-item {
  padding-right: 1rem;
  margin-top: 2rem;
}

.footer__social-item svg {
  fill: black;
  width: 3rem;
  height: 3rem;
}

.footer__adress {
  font-size: 1.75rem;
}

.contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact form {
  position: relative;
  width: 100%;
  height: 100%;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 2fr;
      grid-template-rows: 1fr 1fr 2fr;
  grid-gap: 2rem 4rem;
}

.contact form input {
  padding: 2rem 1rem;
  height: 60%;
  display: inline;
}

.contact form input, .contact form textarea {
  border: 1.5pt solid rgba(75, 75, 75, 0.2);
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #4b4b4b;
  font-size: 1.2rem;
}

.contact form input:focus, .contact form textarea:focus {
  outline: none;
  border: 1.5pt solid rgba(237, 26, 77, 0.2);
}

.contact form textarea {
  grid-column: 1/-1;
  width: 100%;
  padding: 1rem;
}

.contact form .btn {
  grid-column: 1/-1;
  width: 100%;
  height: 100%;
  position: relative;
}

.contact__btn {
  position: relative;
}

.contact__close {
  width: 5rem;
  height: 3rem;
  background: transparent;
  position: absolute;
  margin-top: -4rem;
  right: 0;
}

.contact__close::after, .contact__close::before {
  width: 3rem;
  height: .3rem;
  content: "";
  display: block;
  background: currentColor;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact__close::after {
  -webkit-transform: translateY(-0.5rem) rotate(45deg);
          transform: translateY(-0.5rem) rotate(45deg);
  background-color: #ed1a4d;
}

.contact__close::before {
  -webkit-transform: translateY(-0.3rem) rotate(-45deg);
          transform: translateY(-0.3rem) rotate(-45deg);
  background-color: #ed1a4d;
}

.makeVisibleGrid {
  display: -ms-grid;
  display: grid;
  opacity: 1;
  -webkit-animation: pullUp .5s ease forwards;
          animation: pullUp .5s ease forwards;
}

.makeVisibleNone {
  display: -ms-grid;
  display: grid;
  opacity: 0 !important;
  -webkit-animation: pullDown 1s ease  forwards;
          animation: pullDown 1s ease  forwards;
}

@-webkit-keyframes pullUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pullUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes pullDown {
  0% {
    display: grid;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

@keyframes pullDown {
  0% {
    display: -ms-grid;
    display: grid;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

.displayNone {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  margin-top: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: block;
}

.header__logo-img {
  height: 4rem;
}

.title {
  margin: 10rem auto 12rem auto;
  text-align: center;
}

.title--wide {
  width: 90%;
}

.title--small {
  width: 50%;
}

.title__home {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", Sans-serif;
  font-weight: 400;
  color: #4b4b4b;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 85vw 1fr;
      grid-template-columns: 1fr 85vw 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 4rem;
}

.values {
  background: black;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: 1/-1;
  padding: 8rem 0;
  color: #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 85vw 1fr;
      grid-template-columns: 1fr 85vw 1fr;
}

.values__list {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(14rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-column-gap: 6rem;
}

.values__item-title {
  padding-bottom: 1rem;
}

.values__item-text {
  font-size: 1.6rem;
  font-weight: 200;
}

.about {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  margin-top: 5rem;
  grid-column: 2/-2;
}

.about.why {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.about.why .atributes__item:not(:last-child) {
  margin-bottom: 4rem;
}

.about.why .atributes__item--heading {
  color: #ed1a4d;
  padding-bottom: 1.5rem;
}

.about.why .atributes__item--paragraph {
  font-weight: 200;
  width: 85%;
}

.about.team {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.about.team .team__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.about > h1 {
  font-size: 4rem;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.person__photo {
  height: 25rem;
  width: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: 1/-1;
  padding: 0 15rem 10rem 15rem;
}

.gallery--black {
  background: #000;
}

.gallery--white {
  background: #ffffff;
}

.gallery__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-top: -8rem;
}

.gallery__item {
  background: #ed1a4d;
  list-style: none;
}

.gallery__figure {
  position: relative;
  height: 20rem;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery__img-caption {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(237, 26, 77, 0.5);
  width: 100%;
  height: 100%;
  color: #ffffff;
  padding: 3rem 0 1rem 2rem;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.gallery__img-caption > * {
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: opacity .2s ease .20s, -webkit-transform .5s ease .20s;
  transition: opacity .2s ease .20s, -webkit-transform .5s ease .20s;
  transition: transform .5s ease .20s, opacity .2s ease .20s;
  transition: transform .5s ease .20s, opacity .2s ease .20s, -webkit-transform .5s ease .20s;
}

.gallery__img-caption:hover {
  opacity: 1;
}

.gallery__img-caption:hover > * {
  opacity: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.gallery__img-caption > span {
  font-size: 2rem;
  display: block;
  font-weight: 600;
}

.gallery__img-caption p {
  font-weight: 300;
}

.gallery__img-caption p > a {
  text-decoration: underline;
  color: #ffffff;
}

.gallery__btn {
  margin: 3rem auto;
  text-align: center;
}

.btn {
  font-size: 2rem;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}

.btn--black {
  color: #000;
  -webkit-transition: color .25s ease .25s;
  transition: color .25s ease .25s;
}

.btn--black:hover {
  color: white !important;
}

.btn--white {
  color: #ffffff;
}

.btn-1 {
  display: inline-block;
  position: relative;
  z-index: 10;
  padding: 0 1rem;
  padding-top: 1rem;
  text-align: center;
}

.btn-1::after {
  content: "";
  width: 100%;
  height: 1.5pt;
  margin-top: 4pt;
  display: block;
  background: #ffffff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-origin: center;
  z-index: -1;
}

.btn-1:hover::after {
  width: 0%;
  background: #ed1a4d;
}

.btn-1::before {
  content: '';
  width: 0;
  height: 100%;
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-1rem, -0.75rem);
          transform: translate(-1rem, -0.75rem);
  -webkit-transition: all .3s ease .35s;
  transition: all .3s ease .35s;
  background-origin: center;
  z-index: -1;
}

.btn-1:hover::before {
  width: 100%;
  background: #ed1a4d;
  border-radius: 100rem;
}

.btn-2, .btn-3 {
  color: #ffffff;
  padding: 1.5rem 4rem;
}

.btn-2 {
  background: #ed1a4d;
  border-radius: 100rem;
}

.btn-2:hover {
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

.btn-3 {
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
  background: transparent;
  border-top: 1.75pt solid transparent;
  border-bottom: 1.75pt solid transparent;
  border-right: 1.75pt solid transparent;
  border-left: 1.75pt solid transparent;
  -webkit-transition: border-top .2s ease-in-out .30s, border-right .2s ease-in-out .38s  ,border-bottom .2s ease-in-out .14s,border-left .2s ease-in-out .25s;
  transition: border-top .2s ease-in-out .30s, border-right .2s ease-in-out .38s  ,border-bottom .2s ease-in-out .14s,border-left .2s ease-in-out .25s;
}

.btn-3:hover::after {
  height: 0%;
  -webkit-transition: height .25s ease-in-out;
  transition: height .25s ease-in-out;
}

.btn-3:hover {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ed1a4d), to(#ee3d11));
  background-image: linear-gradient(to right top, #ed1a4d, #ee3d11);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: color .2s ease .2s;
  transition: color .2s ease .2s;
  font-weight: bold;
  border-top: 1.75pt solid #ed1a4d;
  border-bottom: 1.75pt solid #ed1a4d;
  border-right: 1.75pt solid #ed1a4d;
  border-left: 1.75pt solid #ed1a4d;
  -webkit-transition: border-top .2s ease-in-out .30s, border-right .2s ease-in-out .38s  ,border-bottom .2s ease-in-out .14s,border-left .2s ease-in-out .25s;
  transition: border-top .2s ease-in-out .30s, border-right .2s ease-in-out .38s  ,border-bottom .2s ease-in-out .14s,border-left .2s ease-in-out .25s;
}

.btn-3::after {
  content: "";
  display: block;
  background: #ed1a4d;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -10;
  -webkit-transition: height .25s ease-in-out .25s;
  transition: height .25s ease-in-out .25s;
}

.menu {
  width: auto;
  height: 1rem;
  position: relative;
  display: block;
  z-index: 10001;
}

.menu__span {
  display: block;
  width: 3rem;
  height: .3rem;
  background: #000;
}

.menu__span::after, .menu__span::before {
  width: 3rem;
  height: .3rem;
  content: "";
  display: block;
  background: currentColor;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.menu__span::after {
  -webkit-transform: translateY(-1.2rem);
          transform: translateY(-1.2rem);
}

.menu__span::before {
  -webkit-transform: translateY(0.9rem);
          transform: translateY(0.9rem);
}

#menu {
  width: 5rem;
  height: 3rem;
  position: absolute;
  -webkit-transform: translateY(-50%) translateX(-20%);
          transform: translateY(-50%) translateX(-20%);
  opacity: 0;
  z-index: 10001;
}

#menu:checked {
  position: fixed;
}

#menu:checked ~ .menu__span {
  background-color: transparent;
}

#menu:checked ~ .menu__span::after {
  position: fixed;
  -webkit-transform: translateY(-0.4rem) rotate(45deg);
          transform: translateY(-0.4rem) rotate(45deg);
  background-color: #ffffff;
}

#menu:checked ~ .menu__span::before {
  -webkit-transform: translateY(-0.4rem) rotate(-45deg);
          transform: translateY(-0.4rem) rotate(-45deg);
  background-color: #ffffff;
  position: fixed;
}

.nav {
  position: fixed;
  width: 98.79vw;
  height: 100vh;
  background: #ed1a4d;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transform: translateX(95%);
          transform: translateX(95%);
  -webkit-transition: opacity .03s ease-in-out .3s, -webkit-transform .28s ease-in-out .02s;
  transition: opacity .03s ease-in-out .3s, -webkit-transform .28s ease-in-out .02s;
  transition: transform .28s ease-in-out .02s, opacity .03s ease-in-out .3s;
  transition: transform .28s ease-in-out .02s, opacity .03s ease-in-out .3s, -webkit-transform .28s ease-in-out .02s;
}

.nav__slide {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity .03s ease-in-out, -webkit-transform .28s ease-in-out .02s;
  transition: opacity .03s ease-in-out, -webkit-transform .28s ease-in-out .02s;
  transition: transform .28s ease-in-out .02s, opacity .03s ease-in-out;
  transition: transform .28s ease-in-out .02s, opacity .03s ease-in-out, -webkit-transform .28s ease-in-out .02s;
}

.nav__item {
  display: block;
  font-size: 3.2rem;
  font-weight: 200;
  color: #ffffff;
  padding: 2rem 6rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item::after {
  content: "";
  width: 4%;
  height: .175rem;
  background: currentColor;
  display: block;
  -webkit-transition: width 0.3s ease 0.04s;
  transition: width 0.3s ease 0.04s;
}

.nav__item:hover::after {
  width: 130%;
}
/*# sourceMappingURL=main.css.map */