*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html{
    font-size: 62.5%;
}
body{  
    font-family: $font-primary;
    font-weight: 400; 
    color: $color-grey;
    display: grid;
    grid-template-columns: 1fr 85vw 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 4rem;

}

