.heading{
    
    &--1{
        font-weight: 300;
        font-size: 3rem;
        
    }
    &--2{
        font-size: 4rem;
        font-weight: 600;
     
    }
    &--4{
        font-size: 3rem;
        font-weight: 700;
    }
    &--5{
        font-size: 2rem;
        font-weight: 700;
    }
}

