
////// COLORS //////////

$color-primary: #ff0000;
$color-grey:#4b4b4b;
$color-white:#ffffff;
#color-black:#000000;

////// Font Viriables //////////
$font-primary:"Poppins, Sans-serif";
$font-secundary: "monteserat, Sans Serif"