
////// COLORS //////////

$color-primary: #ed1a4d;
$color-grey:#4b4b4b;
$color-white:#ffffff;
$color-black:#000;

////// Font Viriables //////////
$font-primary:"Poppins", Sans-serif;
$font-secundary: "monteserat", Sans-Serif;

