.btn{
    font-size: 2rem;
    list-style: none;
    color: white;
    text-decoration: none;
    outline: none;
    border: none;
    &-1{
        display:inline-block;
        position: relative; 
        z-index: 10;
        padding: 0 1rem;
        padding-top: 1rem;
        text-align: center;
         &::after{
            content: "";
            width: 100%;
            height: 1.5pt;
            margin-top: 4pt;
            display: block;
            background: $color-white;
            transition: all .3s ease ;
            background-origin: center;
            z-index: -1;
        }
        &:hover::after{
            width: 0%;
            background: $color-primary;
        }
        &::before{
            content: '';
            width: 0;
            height:100%;
            display: inline-block;
            position: absolute;
            transform: translate(-1rem,-0.75rem);
            transition: all .3s ease .35s;
            background-origin: center;
            z-index: -1;
        }
        &:hover::before{
            width: 100%;
            background: $color-primary;
            border-radius: 100rem;
        
    }
    }
    &-2,&-3{
    color: $color-white;
    padding: 1.5rem 4rem;
    }
    &-2{
        background: $color-primary;
        border-radius: 100rem;  
        &:hover{
            filter: brightness(1.1) 
        }
    }
    &-3{
        font-size: 1.2rem;
        position: relative;
        overflow: hidden;
        background: transparent;

        border-top: 1.75pt solid transparent;
        border-bottom: 1.75pt solid transparent;
        border-right: 1.75pt solid transparent;
        border-left: 1.75pt solid transparent;

        
        transition: border-top .2s ease-in-out .30s, border-right .2s ease-in-out .38s 
        ,border-bottom .2s ease-in-out .14s,border-left .2s ease-in-out .25s;
        &:hover::after{
           height: 0%;
           transition: height .25s ease-in-out ;
    
        }
        &:hover{
            background-image: linear-gradient(to right top, $color-primary, rgb(238, 61, 17));
            -webkit-background-clip: text;
            color: transparent;
            transition: color .2s ease .2s;
            font-weight: bold;
            border-top: 1.75pt solid $color-primary;
            border-bottom: 1.75pt solid $color-primary;
            border-right: 1.75pt solid $color-primary;
            border-left: 1.75pt solid $color-primary;

            transition: border-top .2s ease-in-out .30s, border-right .2s ease-in-out .38s 
        ,border-bottom .2s ease-in-out .14s,border-left .2s ease-in-out .25s;
        }
        &::after{
            content: "";
            display: block;
            background: $color-primary;
            height:100%;
            width: 100%;
            position: absolute;
            bottom:0;
            left: 0;
            z-index: -10;
            transition: height .25s ease-in-out .25s;
        }
    } 
}